<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="7zip" />
      <package id="blender" />
      <package id="calibre-dedrm" />
      <package id="calibre" />
      <package id="googlechrome" />
      <package id="googledrive" />
      <package id="handbrake" />
      <package id="keepassxc" />
      <package id="notepadplusplus" />
      <package id="obs-studio.install" />
      <package id="obsidian" />
      <package id="powershell-core" />
      <package id="sharex" />
      <package id="slack" />
      <package id="treesizefree" />
      <package id="vlc" />
      <package id="vscode" />
      <package id="wireguard" />
    </packages>
